HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

application-oauth.properties
application-local-crawl.properties
application-real-db.properties

src/test/
src/test/java/me/lsh/javacrawler/service/recommend/
src/test/java/me/lsh/javacrawler/crawler/
src/test/java/me/lsh/javacrawler/parser/
src/test/java/me/lsh/javacrawler/repository/
src/test/java/me/lsh/javacrawler/config/
CompetitionRepositoryTest.java

build/classes/java/test/me/lsh/javacrawler/crawler
build/classes/java/test/me/lsh/javacrawler/repository
build/classes/java/test/me/lsh/javacrawler/parser
build/classes/java/test/me/lsh/javacrawler/config