<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title th:title="${member.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="competitions" id="competitions__page">
<header th:replace="fragments/bodyHeader :: bodyHeader"/>
<main id="main">
    <section class="container">
        <div class="col-md-8 mx-auto">
            <div class="post-item position-relative h-100 profile__content pt-5">
                <div class="position-relative d-flex flex-column gap-4">
                    <div>
                        <div class="profile__container profile__recommend profile__meta d-flex gap-5">
                            <div class="profile__recommend__wrapper align-items-start">
                                <div class="profile__recommend-title profile__recommend-title__lg">
                                    <h3>주간 레포트</h3>
                                </div>
                                <div class="profile__recommend-btn">
                                    <p class="text-light recommend__description d-flex gap-2">
                                        <span th:text="${#temporals.format(startedAt.minusDays(7), 'yyyy-MM-dd')}"></span>
                                        <span>~</span>
                                        <span th:text="${#temporals.format(startedAt, 'yyyy-MM-dd')}"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav class="profile__container profile__meta d-flex gap-4 pt-0 recommend__nav">
                        <a th:href="@{/recommends/}" class="recommend__nav-item d-flex gap-2">
                            <i class="bi bi-arrow-left"></i><span>목록으로</span>
                        </a>
                    </nav>

                    <div class="profile__container profile__meta d-flex gap-5">
                        <div class="d-flex align-content-start flex-column mb-2 gap-4 w-100">
                            <div class="d-flex flex-column gap-3 align-content-start" th:if="${competitionStatistics}">
                                <h4 class="recommend__title">북마크 리포트 📝</h4>
                                <div class="d-flex flex-column recommend__container" th:object="${competitionStatistics.get(0)}">
                                    <p class="w-75">
                                        <span class="recommend__highlight username" th:text="${member.name}"></span>님은
                                        참여대상이
                                        <span class="recommend__highlight">
                                          <span class="highlight__title" th:text="*{applicant.name}"></span>
                                          <span class="underline"></span>
                                        </span>이고, 시상 혜택이
                                        <span class="recommend__highlight">
                                          <span class="highlight__title"
                                                th:text="*{awardBenefit.name}"></span>
                                          <span class="underline"></span>
                                        </span>이며, 시상 규모가
                                        <span class="recommend__highlight">
                                          <span class="highlight__title"
                                                th:text="*{awardScale.name}"></span>
                                          <span class="underline"></span>
                                        </span> 에 해당하는 공모전을 가장 많이 찾아보셨군요?
                                    </p>
                                    <div class="d-flex justify-content-center w-75 mx-auto mt-4 mb-4">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                    <div class="d-flex justify-content-center w-50 mx-auto mt-4">
                                        <a class="btn btn-lg btn-primary"
                                           th:href="@{/recommends/{id}/competition/attributes(id=${recommendId})}">
                                            추천 공모전 보러 가기
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile__container profile__meta d-flex gap-5">
                        <div class="d-flex align-content-start flex-column mb-2 gap-4 w-100">
                            <div class="d-flex flex-column gap-3 align-content-start">
                                <h4 class="recommend__title">당신의 선호 기술은? 👀</h4>
                                <div class="d-flex flex-column recommend__container">
                                    <p class="w-75">
                                        <span class="recommend__highlight" th:text="${member.name}"></span>님은
                                        주로
                                        <span class="d-flex align-items-center flex-wrap mt-4 mb-4 gap-2">
                                          <span th:each="frequentSkill, skillStat : ${frequentSkills}" class="recommend__skill">
                                            <span th:text="${frequentSkill.skill}"></span>
                                          </span>
                                        </span>
                                        에 해당하는 공모전을 가장 많이 찾아보셨군요?
                                    </p>
                                    <div class="d-flex justify-content-center w-75 mx-auto mt-4 mb-4">
                                        <canvas id="skillChart"></canvas>
                                    </div>
                                    <div class="d-flex justify-content-center w-50 mx-auto mt-4">
                                        <a class="btn btn-lg btn-primary"
                                           th:href="@{/recommends/{id}/competition/skills(id=${recommendId})}">
                                            추천 공모전 보러 가기
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/lazyloading.js"></script>
<script src="/assets/js/profile.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("img").forEach(img => img.classList.add("img-fluid"));
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script th:inline="javascript">
    const compCtx = document.getElementById('myChart');
    const skillCtx = document.getElementById('skillChart');

    const statistics = [[${competitionStatistics}]];
    const frequentSkills = [[${frequentSkills}]];

    const compLabels = [];
    /*[# th:each="attr : ${competitionStatistics}"]*/
    compLabels.push(["[(${attr.applicant.name})]", "[(${attr.awardScale.name})]", "[(${attr.awardBenefit.name})]"].join(', '));
    /*[/]*/
    const compCounts = statistics.map(attr => attr.count);

    const skillLabels = frequentSkills.map(attr => attr.skill);
    const skillCounts = frequentSkills.map(attr => attr.count);

    const createChartData = (title, labels, data) => {
        return {
            labels: labels,
            datasets: [{
                axis: 'y',
                label: title,
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                    'rgba(255, 205, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(54, 162, 235, 0.5)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        }
    }

    new Chart(compCtx, {
        type: 'doughnut',
        data: createChartData('공모전 통계', compLabels, compCounts),
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                    beginAtZero: true
                },
            }
        }
    });
    new Chart(skillCtx, {
        type: 'bar',
        data: createChartData('관련 기술 통계', skillLabels, skillCounts),
        options: {
            indexAxis: 'y',
            scales: {
                y: {
                    beginAtZero: true
                },
            }
        }
    });
</script>
</body>
</html>