<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title th:title="${member.name}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="competitions" id="competitions__page">
<header th:replace="fragments/bodyHeader :: bodyHeader"/>
<main id="main">
  <section class="container">
    <div class="col-md-8 mx-auto">
      <div class="post-item position-relative h-100 profile__content pt-5">
        <div class="position-relative d-flex flex-column gap-4">
          <div>
            <div class="profile__container profile__recommend profile__meta d-flex gap-5">
              <div class="profile__recommend__wrapper" id="recommend__header">
                <div class="profile__recommend-title">
                  <span>더 편리하고 똑똑하게___</span>
                  <h3>당신을 위해 준비한 공고를 확인해보세요.</h3>
                </div>
                <div class="profile__recommend-btn">
                  <p class="text-light recommend__description">
                    Meet IT ALL은 사용자의 자료를 바탕으로 다양한 추천 정보를 제공드립니다.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex gap-5">
            <div class="d-flex align-content-start flex-column mb-2 gap-4 w-100">
              <div class="d-flex align-content-start">
                <div class="d-flex flex-column gap-1 w-100"
                     th:with="recommendNotExists=${recommends.totalElements eq 0}">

                  <div th:if="${recommendNotExists}">
                    <span class="text-secondary opacity-75">추천드릴 수 있는 공모전이 없습니다 :(</span>
                  </div>

                  <div th:unless="${recommendNotExists}"
                       th:each="recommend : ${recommends}"
                       th:object="${recommend}"
                       class="w-100 profile__container recommend__item">

                    <div class="d-flex w-100 gap-4">
                      <div class="d-flex flex-column w-100">
                        <div class="d-flex align-items-center justify-content-between gap-4 w-100 mb-2">
                          <a th:href="@{/recommends/{id}/competition(id=*{id})}">
                            <h5 class="bookmark__title" th:text="*{title}"></h5>
                          </a>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="bookmark__organizer d-flex align-items-start text-secondary opacity-75 w-75">
                            <i class="bi bi-calendar-week"></i>
                            <div class="d-flex align-items-center ps-2 w-75 gap-2">
                              <span th:text="${#temporals.format(recommend.startDate, 'yyyy-MM-dd')}"></span>
                              <span>~</span>
                              <span th:text="${#temporals.format(recommend.endDate, 'yyyy-MM-dd')}"></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center justify-content-center">
                        <div class="img-fluid lazy recommend__avatar"></div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div th:if="${!recommends.isEmpty()}">
                <ul class="pagination justify-content-center">

                  <li class="page-item" th:classappend="${!recommends.hasPrevious} ? 'disabled'">
                    <a class="page-link" id="page-prev"
                       th:href="@{|?page=${recommends.number - 1}|}">
                      <span>이전</span>
                    </a>
                  </li>
                  <li th:each="page: ${#numbers.sequence(0, recommends.totalPages -1)}"
                      th:classappend="${page == recommends.number} ? 'active'" class="page-item">
                    <a th:text="${page + 1}" class="page-link page-number"
                       th:href="@{|?page=${page}|}"></a>
                  </li>

                  <li class="page-item" th:classappend="${!recommends.hasNext} ? 'disabled'">
                    <a class="page-link" id="page-prev-next"
                       th:href="@{|?page=${recommends.number + 1}|}">
                      <span>다음</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/lazyloading.js"></script>
<script src="/assets/js/profile.js"></script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("img").forEach(img => img.classList.add("img-fluid"));
  })
</script>
</body>
</html>